body {
	color: #82392d;
}

h1, h2, h3 {
	font-family: Dosis, sans-serif;
	color: #666f70;
		&:hover {
			font-style: italic;
		};
}

.view {
	height: 80vh;
	width: 45%;
	display: inline-block;
}
	
// this will apply for the finished preview of the markdown on
// the left
.pre {
	padding-left: 15px;
}